<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="local.sanjose.inventario">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Activities.intentExtrasActivity">
        </activity>
        <activity android:name=".Activities.LifeCycleEventsActivity">
        </activity>
        <activity android:name=".Activities.SharedPreferencesActivity">
        </activity>
        <activity android:name=".Activities.PiccasoActivity">
        </activity>
        <activity android:name=".Activities.PermissionsActivity">
        </activity>
        <activity android:name=".Activities.ListViewActivity">
        </activity>
        <activity android:name=".Activities.LifeCycleActivity">
        </activity>
        <activity android:name=".Activities.KotlinAndroidExtentionsActivity">
        </activity>
        <activity android:name=".Activities.IntentsActivity">
        </activity>
        <activity android:name=".Activities.ExtentionFunctionsActivity">
        </activity>
        <activity android:name=".Activities.ClickEventsActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>